@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  overflow: hidden;
  scroll-behavior: smooth;
}

.HomeLog-container {
  background: url('./images/fundo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* Menu superior*/
header{
  position: sticky; 
  top: 0;
  background-color: #19421c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: auto;
}

.HomeLog-cadastro {
  width: 100%;
  display: flex; 
  align-items: center;
  background-color: #19421c;
  text-shadow: 5px 5px 2px #000;
  padding: 10px 20px;
  justify-content: center;
}

.menu-icon-HomeLog {
  display: flex;
  align-items: center;
}

.game-logo-HomeLog {
  height: 50px;
  padding: 0px 40px;
  width: auto;
}

.menu-options-HomeLog {
  display: flex;
  gap: 60px;
  align-items: center;
}

.menu-options-HomeLog a {
  color: #f7d287;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

.menu-options-HomeLog a:hover {
  color: #ffcc33;
}

.item-config {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.Formhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 97%;
  gap: 2px;
}

.logo-homeLog {
  background-image: url('/public/assets/imagens/backgrounds/LogoOnca.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  width: 20%;
}

.buton-jogar {
  margin-top: 680px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  width: 100%;
  height: 10%;
}

button {
  background-image: url('images/placa5.png');
  background-position: center;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 25%;
  width: 85%;
  font-size: 24px;
  color: #f0d8a6;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

/* Tornando o layout responsivo */
@media (max-width: 600px) {
  /* Ajuste para o formulário */
  .logo-homeLog {
      width: 90%;
      padding: 20px;
      border-radius: 0 0 15px 15px;
  }
  /* Ajuste para o menu */
  .menu-options-HomeLog {
      flex-direction: column; /* Faz com que as opções fiquem empilhadas */
      gap: 10px; /* Ajusta o espaçamento entre os itens no mobile */
  }
  .menu-options-HomeLog a {
      font-size: 18px; /* Diminui o tamanho das fontes no menu em telas menores */
  }
  .game-logo-HomeLog {
      height: 40px; /* Ajusta o tamanho do ícone em telas menores */
  }
  .sound-icon-cadastro {
      height: 30px; /* Ajusta o ícone de som no mobile */
  }
}