@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  overflow: hidden;
  scroll-behavior: smooth;
}

.cadastro-container {
  background: url('images/fundo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/*PADRÃO Menu superior*/
header {
  position: sticky;
  background-color: #19421c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.menu-cadastro {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #19421c;
  text-shadow: 5px 5px 2px #000;
  padding: 10px 20px;
  justify-content: center;
}

.game-logo-cadastro {
  height: 50px;
  padding: 0px 40px;
  width: auto;
}

.menu-options-cadastro {
  display: flex;
  gap: 60px;
  align-items: center;
}

.menu-options-cadastro a {
  color: #f7d287;
  padding: 4px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
}

.menu-options-cadastro a:hover {
  color: #ffcc33;
  cursor: pointer;
}

.sound-icon-cadastro {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.item-config {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.Formhome1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 97%;
  gap: 2px;
}

.logo-home {
  background-image: url('./images/LogoOnca.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  width: 20%;
}

/* Tornando o layout responsivo */
@media (max-width: 600px) {
  /* Ajuste para o formulário */
  .logo-home {
      width: 90%;
      padding: 20px;
      border-radius: 0 0 15px 15px;
  }
  /* Ajuste para o menu */
  .menu-options-cadastro {
      flex-direction: column; /* Faz com que as opções fiquem empilhadas */
      gap: 10px; /* Ajusta o espaçamento entre os itens no mobile */
  }
  .menu-options-cadastro a {
      font-size: 18px; /* Diminui o tamanho das fontes no menu em telas menores */
  }
  .game-logo-cadastro {
      height: 40px; /* Ajusta o tamanho do ícone em telas menores */
  }
  .sound-icon-cadastro {
      height: 30px; /* Ajusta o ícone de som no mobile */
  }
}