@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  overflow: hidden;
  scroll-behavior: smooth;
}

.cadastro-container {
  background: url('images/fundo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* Menu superior*/
header{
  position: sticky; 
  top: 0;
  background-color: #19421c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: auto;
}

.menu-cadastro {
  width: 100%;
  display: flex; 
  align-items: center;
  background-color: #19421c;
  text-shadow: 5px 5px 2px #000;
  padding: 10px 20px;
  justify-content: center;
}

.menu-icon-cadastro {
  display: flex;
  align-items: center;
}

.game-logo-cadastro {
  height: 50px;
  padding: 0px 40px;
  width: auto;
}

.menu-options-cadastro {
  display: flex;
  gap: 60px;
  align-items: center;
}

.menu-options-cadastro a {
  color: #f7d287;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

.menu-options-cadastro a:hover {
  color: #ffcc33;
}

.sound-icon-cadastro {
  height: 40px;
  width: auto;
  cursor: pointer;
}

/*Estilizando o formulário de cadastro*/
.form-background-cadastro {
  background-image: url('./images/fundo-forms8.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: auto;
  gap: 2px;
}

.cadastro-title {
  font-size: 52px;
  color: #57330e;
  font-weight: bold;
  text-shadow: 5px 5px 2px #000;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: #f7d287;
  text-shadow: 3px 3px 3px #000;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;
  background-color: #f0d8a6;
  border: 2px solid #57330e;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que padding e borda não afetem o tamanho */
}

button {
  background-image: url('images/placa5.png');
  background-position: center;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 25%;
  width: 85%;
  font-size: 24px;
  color: #f0d8a6;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

/* Tornando o layout responsivo */
@media (max-width: 600px) {
  /* Ajuste para o formulário */
  .form-background-cadastro {
      width: 90%;
      padding: 20px;
      border-radius: 0 0 15px 15px;
  }
  /* Ajuste para o menu */
  .menu-options-cadastro {
      flex-direction: column; /* Faz com que as opções fiquem empilhadas */
      gap: 10px; /* Ajusta o espaçamento entre os itens no mobile */
  }
  .menu-options-cadastro a {
      font-size: 18px; /* Diminui o tamanho das fontes no menu em telas menores */
  }
  .game-logo-cadastro {
      height: 40px; /* Ajusta o tamanho do ícone em telas menores */
  }
  .sound-icon-cadastro {
      height: 30px; /* Ajusta o ícone de som no mobile */
  }
}