@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

.bg-conta {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*PADRÃO Menu superior*/
header {
    position: sticky;
    background-color: #19421c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  
  .amarelo {
    background-color: #ffe60093;    
  }
  
  .menu-cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #19421c;
    text-shadow: 5px 5px 2px #000;
    padding: 10px 20px;
    justify-content: center;
  }
  
  .game-logo-cadastro {
    height: 50px;
    padding: 0px 40px;
    width: auto;
  }
  
  .menu-options-cadastro {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  
  .menu-options-cadastro a {
    color: #f7d287;
    padding: 4px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
  }
  
  .menu-options-cadastro a:hover {
    color: #ffcc33;
    cursor: pointer;
  }
  
  .sound-icon-cadastro {
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  /*--------------------------*/

.content-main-conta{
    width: 90vw;
    height: 90vh;
    margin: 1vh auto;
}

.content-main-superior-conta{
    background-image: url('/public/assets/imagens/backgrounds/fundo-forms8.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 30% 30%;
    width: 55vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-user-conta{
    width: 30vw;
    height: 40vh;
}

.info-conta{
    width: 28vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

.info-conta > label{
    width: 15%;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.8em;
    color: #fff;
    margin-right: 10px;
}

.info-conta > input{
    margin-left: 10px;
    width: 75%;
    height: 60%;
    padding: 10px;
    font-size: 1.8em;
    font-family: 'Londrina Solid', cursive;
    color: #5E2C12;
    border: none;
    border-radius: 2px;
}

.info-conta > .btn-atualiza{
    margin-left: 10px;
    width: 70%;
    height: 80%;
    font-size: 1.8em;
    font-family: 'Londrina Solid', cursive;
    color: #E6B789;
    background-color: #5E2C12;
    border: none;
}

.info-conta > .btn-atualiza:hover{
    border: 3px solid #331809;
}

.inp-senha{
    width: 70% !important;
    border-radius: 2px 0px 0px 2px !important;
}

.btn-senha-conta {
    width: 10%;
    height: 65%;
    background-color: #fff !important;
    border-radius: 0px 2px 2px 0px;
}

.tooltip-text-conta {
    visibility: hidden;
    position: absolute;
    flex-grow: 1;
    z-index: 1;
    height: auto;
    color: #E6B789;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.2em;
    background-color: #5E2C12;
    padding: 15px;
}

#top {
    margin-top: -150px;
    margin-left: -100px;
}  



@media screen and (max-width: 1366px) and (max-height: 768px) {
    .icon-vit-conta{
        width: 25%;
        height: 40%;
        margin-bottom: 5%;
        background-image: url('/public/assets/imagens/vetores/vitorias.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .icon-der-conta{
        width: 25%;
        height: 35%;
        margin-bottom: 5%;
        background-image: url('/public/assets/imagens/vetores/derrotas.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
     
    .hover-text-conta > img{
        width: 80px;
        height: 80px;
    }
    
    .info-conta > label{
        width: 18%;
        font-size: 1.6em;
    }

    .info-conta > input{
        height: 70%;
        font-size: 1.6em;
    }

    .info-conta > .btn-atualiza{
        height: 75%;
    }

    .icon-emblema-conquistado{
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}