* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .c {
    background: url('images/fundo.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
  }
  
  /* Menu superior*/
  header{
    position: sticky; 
    top: 0;
    background-color: #19421c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    height: auto;
  }
  
  .m {
    width: 100%;
    display: flex; 
    align-items: center;
    background-color: #19421c;
    text-shadow: 5px 5px 2px #000;
    padding: 30px 20px;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .m-i {
    display: flex;
    align-items: center;
  }
  
  .g-l {
    height: 50px;
    padding: 0px 40px;
    width: auto;
  }
  
  .m-o {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  
  .m-o a {
    color: #f7d287;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
  }
  
  .m-o a:hover {
    color: #ffcc33;
  }
  
  .s-i {
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  
  /*Estilizando o formulário de cadastro*/
  .q {
    background-image: url('./images/fundo-forms8.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    width: 40%;
    /* height: 100%; */
  }
  
  .q-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2px;
    padding: 15%;
  }
  
  .ti {
    /* font-size: 52px; */
    font-size: 8vh;
    color: #57330e;
    font-weight: bold;
    text-shadow: 5px 5px 2px #000;
    /* margin-bottom: -7%; */
    width: 100%;
    /* height: 20%; */
    text-align: center;
    padding: 5px 0 0 0;
  }
  
  .tex {
    width: 100%;
    /* height: 70%; */
  }
  
  .texto {
    /* font-size: 20px; */
    font-size: 2vh;
  }
  
  .b {
    background-image: url('images/placa5.png');
    background-position: center;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 10%;
    width: 60%;
    margin-top: 0;
    /* font-size: 24px; */
    font-size: 4vh;
    color: #f0d8a6;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease;
    margin-top: 1rem;
  }
  
  .b:hover {
    transform: scale(1.05);
  }
  
  .b:active {
    transform: scale(0.95);
  }
  
  @media (max-width: 600px) {
    .q {
        width: 90%;
        padding: 20px;
        border-radius: 0 0 15px 15px;
    }
    
    .m-o {
        flex-direction: column;
        gap: 10px;
    }
    .m-o a {
        font-size: 18px;
    }
    .g-l {
        height: 40px;
    }
    .s-i {
        height: 30px;
    }
  }